In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:Password$1234@localhost/proy_bi_mundo_ss2')

In [5]:
df = pd.read_csv('data/oms/Morticd10_part5',low_memory=False)

In [24]:
# Conservar solo las primeras 7 columnas
# df = df.iloc[:, :7]
# Eliminar columnas con valores nulos
df_cleaned = df.dropna(axis=1)

In [25]:
df_cleaned = df_cleaned.rename(columns={'Deaths1': 'total_deaths'})

In [46]:
# df_cleaned.loc[df_cleaned['Cause'] == '1903']
# df_cleaned.groupby(['IM_Frmat'])['total_deaths'].count().reset_index()
df_cleaned = df_cleaned.rename(columns={'Cause': 'code_cause'})

In [48]:
df_cleaned.to_sql('mortality_icd_10_oms', engine, index=False, if_exists='replace')

260

## Documentation mortality

In [55]:
df = pd.read_excel('data/oms/documentation_tables.xlsx', sheet_name='Country')

In [51]:
df.to_sql('mortality_doc_sex_oms', engine, if_exists='replace', index=False)

3

In [54]:
df.to_sql('mortality_doc_cause_oms', engine, if_exists='replace', index=False)

107

In [57]:
df.to_sql('mortality_doc_country_oms', engine, if_exists='replace', index=False)

227

# Pop
---

In [93]:
df = pd.read_csv('data/oms/pop')

In [63]:
df_cleaned = df.dropna(axis=1)

In [85]:
columna_a_sin_nulos = df[df['Lb'].notna()].loc[:,:]

In [87]:
df_cleaned = columna_a_sin_nulos.dropna(axis=1)

In [97]:
df_cleaned = df_cleaned.rename(columns={'Pop1': 'total_population'})
df_cleaned = df_cleaned.rename(columns={'Lb': 'births'})

In [99]:
df_cleaned.to_sql('population_births_oms', engine, if_exists='replace', index=False)

794

# DM

In [16]:

query = 'SELECT pbo."Country", pbo."Year", pbo."Sex", pbo."total_population", pbo."births", mdco."name" as country_name FROM "population_births_oms" pbo INNER JOIN "mortality_doc_country_oms" mdco ON pbo."Country" = mdco."Country";'

In [17]:
df = pd.read_sql(query, engine)

In [71]:
df_gb = df.groupby(['Country', 'country_name', 'Year', 'Sex'])[['total_population','births']].sum().reset_index()

In [72]:
df_gb_2017 = df_gb.loc[df_gb['Year'] > 2016]
df1=df_gb_2017.groupby(['Year', 'Sex'])[['total_population', 'births']].sum()

In [53]:

query = 'SELECT "Country", "Year", "code_cause", "Sex", "total_deaths" FROM "mortality_icd_10_oms"'
df_death = pd.read_sql(query, engine)

In [73]:
df2=df_death.groupby(['Year','Sex'])['total_deaths'].sum().reset_index()

In [76]:
# Realizar la uni√≥n de los DataFrames por la columna 'Year'
df_merged = pd.merge(df1, df2, on=['Year','Sex'], how='inner')

In [79]:
df_merged

    Year  Sex  total_population     births  total_deaths
0   2017    1      5.827461e+08  8032417.0      22297326
1   2017    2      5.869619e+08  7419051.0      20650340
2   2018    1      6.096289e+08  7880408.0      22150107
3   2018    2      6.257875e+08  7426058.0      20534739
4   2018    9      0.000000e+00        1.0          6382
5   2019    1      6.881547e+08  8149611.0      21707376
6   2019    2      7.189946e+08  7694994.0      20059440
7   2020    1      3.562553e+08  3502787.0      17600693
8   2020    2      3.726906e+08  3326636.0      15786260
9   2020    9      0.000000e+00        1.0         17256
10  2021    1      2.990479e+08  2985625.0      14156498
11  2021    2      3.072767e+08  2835921.0      12330356
12  2022    1      7.962487e+07   954292.0       1394826
13  2022    2      7.299963e+07   912041.0       1306379

In [81]:
# Ordenar el DataFrame por 'Year' y 'Sex' para asegurar que los datos est√©n ordenados adecuadamente
df_sorted = df_merged.sort_values(by=['Year', 'Sex'])

# Calcular la variaci√≥n con el registro anterior para 'total_deaths' y 'births'
df_sorted['deaths_variation'] = df_sorted['total_deaths'] - df_sorted.groupby('Sex')['total_deaths'].shift(1)
df_sorted['births_variation'] = df_sorted['births'] - df_sorted.groupby('Sex')['births'].shift(1)

# Rellenar con 0 para el primer registro de cada grupo
df_sorted['deaths_variation'].fillna(0, inplace=True)
df_sorted['births_variation'].fillna(0, inplace=True)

C:\Users\sergi\AppData\Local\Temp\ipykernel_21392\825653866.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sorted['deaths_variation'].fillna(0, inplace=True)
C:\Users\sergi\AppData\Local\Temp\ipykernel_21392\825653866.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sorted['births_variation'].fillna(0, inplace=True)

In [82]:
df_sorted

,Year,Sex,total_population,births,total_deaths,deaths_variation,births_variation
0,2017,1,5.827461e+08,8032417.0,22297326,0.0,0.0
1,2017,2,5.869619e+08,7419051.0,20650340,0.0,0.0
2,2018,1,6.096289e+08,7880408.0,22150107,-147219.0,-152009.0
3,2018,2,6.257875e+08,7426058.0,20534739,-115601.0,7007.0
4,2018,9,0.000000e+00,1.0,6382,0.0,0.0
5,2019,1,6.881547e+08,8149611.0,21707376,-442731.0,269203.0
6,2019,2,7.189946e+08,7694994.0,20059440,-475299.0,268936.0
7,2020,1,3.562553e+08,3502787.0,17600693,-4106683.0,-4646824.0
8,2020,2,3.726906e+08,3326636.0,15786260,-4273180.0,-4368358.0
9,2020,9,0.000000e+00,1.0,17256,10874.0,0.0
10,2021,1,2.990479e+08,2985625.0,14156498,-3444195.0,-517162.0
11,2021,2,3.072767e+08,2835921.0,12330356,-3455904.0,-490715.0
12,2022,1,7.962487e+07,954292.0,1394826,-12761672.0,-2031333.0
13,2022,2,7.299963e+07,912041.0,1306379,-11023977.0,-1923880.0

In [83]:
df_sex = pd.read_sql('SELECT * FROM mortality_doc_sex_oms', engine)

In [85]:
df_merged_sex = pd.merge(df_sorted, df_sex, on='Sex', how='inner')

In [87]:
df_merged_sex.rename(columns={'name': 'sex_name'}, inplace=True)

In [89]:
# Mover la columna 'sex_name' a la 3 posici√≥n
df_merged_sex.insert(loc=2, column='sex_name', value=df_merged_sex.pop('sex_name'))

In [91]:
df_merged_sex.to_sql('dm_year_sex_births_deaths_variation', engine, if_exists='replace', index=False)

14

## DM year by specific gender

In [143]:
df_merged_sex_specific = df_merged_sex.loc[df_merged_sex['Sex'] == 1]
df_merged_sex_specific.to_sql('dm_year_male_births_deaths_variation', engine, if_exists='replace', index=False)

6

In [144]:
df_merged_sex_specific = df_merged_sex.loc[df_merged_sex['Sex'] == 2]
df_merged_sex_specific.to_sql('dm_year_female_births_deaths_variation', engine, if_exists='replace', index=False)

6

In [145]:
df_merged_sex_specific = df_merged_sex.loc[df_merged_sex['Sex'] == 9]
df_merged_sex_specific.to_sql('dm_year_whoknow_births_deaths_variation', engine, if_exists='replace', index=False)

2

## DM year and country

In [108]:
df1=df_gb_2017.groupby(['Year', 'Country', 'country_name'])[['total_population', 'births']].sum().reset_index()
df2=df_death.groupby(['Year','Country'])['total_deaths'].sum().reset_index()

In [111]:
# Realizar la uni√≥n de los DataFrames por la columna 'Year'
df_merged = pd.merge(df1, df2, on=['Year','Country'], how='inner')

In [112]:
df_merged

,Year,Country,country_name,total_population,births,total_deaths
0,2017,1125,Egypt,95202532.0,2557440.0,1094416
1,2017,1250,Libyan Arab Jamahiriya,6570116.0,232595.0,32394
2,2017,1300,Mauritius,1221975.0,12671.0,19828
3,2017,1365,Rodrigues,42638.0,808.0,452
4,2017,3030,Brunei Darussalam,429500.0,6451.0,3392
...,...,...,...,...,...,...
249,2022,4210,Netherlands,17695165.0,167504.0,340224
250,2022,4273,Serbia,6664449.0,62700.0,218406
251,2022,4275,San Marino,33419.0,205.0,733
252,2022,4290,Sweden,10486941.0,104734.0,189646
253,2022,5020,Australia,26005540.0,300684.0,381878

In [113]:
# Ordenar el DataFrame por 'Year' y 'Sex' para asegurar que los datos est√©n ordenados adecuadamente
df_sorted = df_merged.sort_values(by=['Year', 'Country'])

# Calcular la variaci√≥n con el registro anterior para 'total_deaths' y 'births'
df_sorted['deaths_variation'] = df_sorted['total_deaths'] - df_sorted.groupby('Country')['total_deaths'].shift(1)
df_sorted['births_variation'] = df_sorted['births'] - df_sorted.groupby('Country')['births'].shift(1)

# Rellenar con 0 para el primer registro de cada grupo
df_sorted['deaths_variation'].fillna(0, inplace=True)
df_sorted['births_variation'].fillna(0, inplace=True)

C:\Users\sergi\AppData\Local\Temp\ipykernel_21392\3055114924.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sorted['deaths_variation'].fillna(0, inplace=True)
C:\Users\sergi\AppData\Local\Temp\ipykernel_21392\3055114924.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sorted['births_variation'].fillna(0, inplace=True)

In [134]:
df_country = df_sorted.loc[df_sorted['Country'] == 3350]
df_country.to_sql('dm_year_singapore_births_deaths_variation', engine, if_exists='replace', index=False)
df_country

,Year,Country,country_name,total_population,births,total_deaths,deaths_variation,births_variation
13,2017,3350,Singapore,3965796.0,35444.0,39526,0.0,0.0
71,2018,3350,Singapore,3994283.0,35040.0,40190,664.0,-404.0
176,2020,3350,Singapore,4044210.0,34233.0,41970,1780.0,-807.0
218,2021,3350,Singapore,3986842.0,34183.0,46540,4570.0,-50.0
245,2022,3350,Singapore,4073239.0,32290.0,51172,4632.0,-1893.0

In [125]:
df_sorted.to_sql('dm_year_countries_births_deaths_variation', engine, if_exists='replace', index=False)

254

In [182]:
df_sorted.loc[df_sorted['Year'] == 2022][['Country','country_name']].reset_index()

    index  Country            country_name
0     242     1300               Mauritius
1     243     3320                   Qatar
2     244     3340            Saudi Arabia
3     245     3350               Singapore
4     246     4025  Bosnia and Herzegovina
5     247     4188               Lithuania
6     248     4190              Luxembourg
7     249     4210             Netherlands
8     250     4273                  Serbia
9     251     4275              San Marino
10    252     4290                  Sweden
11    253     5020               Australia

# DM with SDG

In [146]:

query = 'SELECT "Region", "Country" as country_name, "Year", "percentage_sdg_gdp_education" FROM "sdg_education_percent_country"'
df_sdg = pd.read_sql(query, engine)

In [167]:
df_sdg['Year'] = df_sdg['Year'].astype('int64')

In [174]:
df1 = df_sdg.loc[(df_sdg['Year'] > 2016) & (df_sdg['Year'] < 2023)]

In [175]:
# Realizar la uni√≥n de los DataFrames por la columna 'Year'
df2 = df_merged
df_merged_sdg = pd.merge(df1, df2, on=['Year','country_name'], how='inner')

In [176]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              254 non-null    int64
 1   Country           254 non-null    int64
 2   country_name      254 non-null    object
 3   total_population  254 non-null    float64
 4   births            254 non-null    float64
 5   total_deaths      254 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 12.0+ KB

In [177]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1128 entries, 752 to 1879
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Region                        1128 non-null   object
 1   country_name                  1128 non-null   object
 2   Year                          1128 non-null   int64
 3   percentage_sdg_gdp_education  1123 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 44.1+ KB

In [189]:
df_merged_sdg.groupby('Region').agg({
    'percentage_sdg_gdp_education': 'mean',
    'total_population': 'sum',
    'total_deaths': 'sum',
    'births': 'sum'
}).reset_index()

,Region,percentage_sdg_gdp_education,total_population,total_deaths,births
0,SDG: Central and Southern Asia,4.380000,2.285047e+08,2838708,5072082.0
1,SDG: Eastern and South-Eastern Asia,3.579231,1.371249e+09,22999072,12953521.0
2,SDG: Europe and Northern America,4.981123,1.775275e+09,42720922,16244449.0
3,SDG: Latin America and the Caribbean,5.203333,2.193639e+08,2787626,2989431.0
4,SDG: Northern Africa and Western Asia,4.746190,2.738248e+08,3330930,6319101.0
5,SDG: Oceania,5.323333,1.522325e+08,2024826,1835170.0
6,SDG: Sub-Saharan Africa,4.723333,7.842383e+06,145158,81865.0

# With GDP

In [261]:

query = 'SELECT "Country Name" as country_name, "Year", "gdp_current_price" FROM "gdp_current_prices_countries"'
df_gdp = pd.read_sql(query, engine)

In [253]:
# df_gdp['Year'] = df_sdg['Year'].astype('object')

In [262]:
df1 = df_gdp.loc[(df_gdp['Year'] > 2016) & (df_gdp['Year'] < 2023)]

In [258]:
df2 = pd.read_sql('SELECT * FROM dm_region_countries_year_sdg_populations_oms', engine)

In [284]:
df_merged_sdg_gdp = pd.merge(df2, df1, on=['Year','country_name'], how='inner')

In [289]:
df_merged_sdg_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Region                        197 non-null    object
 1   country_name                  197 non-null    object
 2   Year                          197 non-null    int64
 3   percentage_sdg_gdp_education  197 non-null    float64
 4   Country                       197 non-null    int64
 5   total_population              197 non-null    float64
 6   births                        197 non-null    float64
 7   total_deaths                  197 non-null    int64
 8   gdp_current_price             197 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 14.0+ KB

In [286]:
df_merged_sdg_gdp.loc[df_merged_sdg_gdp['country_name'] == 'Australia']

,Region,country_name,Year,percentage_sdg_gdp_education,Country,total_population,births,total_deaths,gdp_current_price
43,SDG: Oceania,Australia,2017,5.14,5020,24594202.0,309142.0,322166,1.326882e+12
84,SDG: Oceania,Australia,2018,5.12,5020,24963258.0,315147.0,317320,1.429734e+12
127,SDG: Oceania,Australia,2019,5.13,5020,25334826.0,305832.0,337924,1.394671e+12
159,SDG: Oceania,Australia,2020,5.61,5020,25649248.0,294369.0,322600,1.330382e+12
184,SDG: Oceania,Australia,2021,5.73,5020,25685412.0,309996.0,342938,1.559034e+12
195,SDG: Oceania,Australia,2022,5.21,5020,26005540.0,300684.0,381878,1.692957e+12

In [191]:
df_merged_sdg.to_sql('dm_region_countries_year_sdg_populations_oms', engine, if_exists='replace', index=False)

211

In [282]:
df_merged_sdg.loc[df_merged_sdg['country_name'] == 'Australia']

,Region,country_name,Year,percentage_sdg_gdp_education,Country,total_population,births,total_deaths
47,SDG: Oceania,Australia,2017,5.14,5020,24594202.0,309142.0,322166
92,SDG: Oceania,Australia,2018,5.12,5020,24963258.0,315147.0,317320
137,SDG: Oceania,Australia,2019,5.13,5020,25334826.0,305832.0,337924
171,SDG: Oceania,Australia,2020,5.61,5020,25649248.0,294369.0,322600
198,SDG: Oceania,Australia,2021,5.73,5020,25685412.0,309996.0,342938
209,SDG: Oceania,Australia,2022,5.21,5020,26005540.0,300684.0,381878

In [283]:
df1.loc[df1['country_name'] == 'Australia']

     country_name  Year  gdp_current_price
3471    Australia  2017       1.326882e+12
3737    Australia  2018       1.429734e+12
4003    Australia  2019       1.394671e+12
4269    Australia  2020       1.330382e+12
4535    Australia  2021       1.559034e+12
4801    Australia  2022       1.692957e+12

In [275]:
filas_perdidas = df2[~df2.index.isin(df_merged_sdg_gdp.index)]

In [276]:
filas_perdidas

,Region,country_name,Year,percentage_sdg_gdp_education,Country,total_population,births,total_deaths
197,SDG: Northern Africa and Western Asia,Israel,2021,6.6000,3150,9371368.0,184910.0,101544
198,SDG: Oceania,Australia,2021,5.7300,5020,25685412.0,309996.0,342938
199,SDG: Sub-Saharan Africa,Mauritius,2021,4.6700,1300,1266060.0,12982.0,26548
200,SDG: Sub-Saharan Africa,Seychelles,2021,5.6200,1400,99258.0,1665.0,2551
201,SDG: Eastern and South-Eastern Asia,Singapore,2022,2.3900,3350,4073239.0,32290.0,51172
202,SDG: Europe and Northern America,Lithuania,2022,5.1880,4188,2831638.5,22068.0,85768
203,SDG: Europe and Northern America,Luxembourg,2022,4.7000,4190,653103.0,6495.0,8306
204,SDG: Europe and Northern America,Netherlands,2022,4.1525,4210,17695165.0,167504.0,340224
205,SDG: Europe and Northern America,San Marino,2022,6.0840,4275,33419.0,205.0,733
206,SDG: Europe and Northern America,Serbia,2022,6.0620,4273,6664449.0,62700.0,218406
207,SDG: Europe and Northern America,Sweden,2022,5.9740,4290,10486941.0,104734.0,189646
208,SDG: Northern Africa and Western Asia,Qatar,2022,3.4100,3320,2932241.0,26316.0,5292
209,SDG: Oceania,Australia,2022,5.2100,5020,26005540.0,300684.0,381878
210,SDG: Sub-Saharan Africa,Mauritius,2022,4.8400,1300,1262249.0,12096.0,25876

In [291]:
df = df_merged_sdg_gdp
df['education_price_sdg_gdp'] = ( df['gdp_current_price'] * (df['percentage_sdg_gdp_education'] / 100 ) )

In [293]:
df['education_expenditure_per_capita_sdg_gdp'] = df['education_price_sdg_gdp'] / df ['total_population']

In [295]:
df.to_sql('dm_region_countries_year_sdg_populations_gdp', engine, if_exists='replace', index=False)

197

# WITH agriculture_forestry_fishing

In [301]:

query= 'SELECT "Country Name" as country_name, "Year", "percentage_gdp_agricul_pesca_silver" FROM gdp_agriculture_forestry_fishing_percent_countries'
df_aff = pd.read_sql(query, engine)

In [303]:
df2 = df_aff.loc[(df_gdp['Year'] > 2016) & (df_gdp['Year'] < 2023)]

In [304]:
df1 = df_merged_sdg_gdp

In [306]:
df_merged_sdg_gdp_aff = pd.merge(df1, df2, on=['Year','country_name'], how='inner')

In [311]:

df_merged_sdg_gdp_aff['agricul_forest_fish_price_gdp'] = df_merged_sdg_gdp_aff['gdp_current_price'] * (df_merged_sdg_gdp_aff['percentage_gdp_agricul_pesca_silver'] / 100)

In [313]:
df = df_merged_sdg_gdp_aff
df['death_rate_per_1000'] = (df['total_deaths'] / df['total_population']) * 1000
df['birth_rate_per_1000'] = (df['births'] / df['total_population']) * 1000

In [315]:
correlation_death_rate = df['percentage_gdp_agricul_pesca_silver'].corr(df['death_rate_per_1000'])
correlation_birth_rate = df['percentage_gdp_agricul_pesca_silver'].corr(df['birth_rate_per_1000'])

print(f"Correlaci√≥n entre el porcentaje del PIB y la tasa de mortalidad: {correlation_death_rate}")
print(f"Correlaci√≥n entre el porcentaje del PIB y la tasa de natalidad: {correlation_birth_rate}")

Correlaci√≥n entre el porcentaje del PIB y la tasa de mortalidad: 0.006072145283417658
Correlaci√≥n entre el porcentaje del PIB y la tasa de natalidad: 0.5483638402122156

In [316]:
df_merged_sdg_gdp_aff.loc[df_merged_sdg_gdp_aff['country_name'] =='Australia']

,Region,country_name,Year,percentage_sdg_gdp_education,Country,total_population,births,total_deaths,gdp_current_price,education_price_sdg_gdp,education_expenditure_per_capita_sdg_gdp,percentage_gdp_agricul_pesca_silver,agricul_forest_fish_price_gdp,death_rate_per_1000,birth_rate_per_1000
43,SDG: Oceania,Australia,2017,5.14,5020,24594202.0,309142.0,322166,1.326882e+12,6.820174e+10,2773.082054,2.703967,3.587845e+10,13.099266,12.569711
84,SDG: Oceania,Australia,2018,5.12,5020,24963258.0,315147.0,317320,1.429734e+12,7.320236e+10,2932.404248,2.457106,3.513007e+10,12.711482,12.624434
127,SDG: Oceania,Australia,2019,5.13,5020,25334826.0,305832.0,337924,1.394671e+12,7.154664e+10,2824.043039,2.113083,2.947056e+10,13.338319,12.071605
159,SDG: Oceania,Australia,2020,5.61,5020,25649248.0,294369.0,322600,1.330382e+12,7.463440e+10,2909.808688,2.009273,2.673100e+10,12.577367,11.476711
184,SDG: Oceania,Australia,2021,5.73,5020,25685412.0,309996.0,342938,1.559034e+12,8.933263e+10,3477.952163,2.300253,3.586171e+10,13.351470,12.068952
195,SDG: Oceania,Australia,2022,5.21,5020,26005540.0,300684.0,381878,1.692957e+12,8.820304e+10,3391.701972,2.675529,4.529554e+10,14.684486,11.562306

In [318]:
df_merged_sdg_gdp_aff.to_sql('dm_region_countries_year_sdg_gdp_aff_population', engine, if_exists='replace', index=False)

197