In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [19]:
engine = create_engine('postgresql+psycopg2://postgres:Password$1234@localhost/proy_bi_mundo_ss2')

# sdg_education_percent_country

In [133]:
df =  pd.read_csv('data/sdg/SDG_Feb2024_Education 2030 FFA.csv')

In [134]:
df = df.drop(188, axis=0)

In [135]:
df_interpolated = df.interpolate()
# df_interpolated_linear = df.interpolate(method='nearest')

C:\Users\sergi\AppData\Local\Temp\ipykernel_25392\1746604439.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df.interpolate()

In [137]:
df_interpolated.loc[df_interpolated['Country'] == 'Guatemala']
# df_interpolated.info()

,Region,Country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
95,SDG: Latin America and the Caribbean,Guatemala,2.89,2.99,3.03,2.94,2.95,3.13,3.19,3.3,3.11,3.23,5.521053

In [138]:
# Derretir el DataFrame para convertir las columnas de años en filas
melted_df = pd.melt(df_interpolated, id_vars=['Region', 'Country'], var_name='Year', value_name='percentage_sdg_gdp_education')

In [139]:
melted_df.to_sql('sdg_education_percent_country',engine, if_exists='replace', index=False)

68

In [140]:
df = pd.read_sql('SELECT * FROM sdg_education_percent_country', engine)

In [142]:
df.shape

(2068, 4)

# Agricultura, silvicultura y pesca, valor agregado (% del PIB)
---

In [180]:
df = pd.read_csv('data/sdg/API_NV.AGR.TOTL.ZS_DS2_en_csv_v2_227898.csv')

In [181]:
df.drop('Unnamed: 68', inplace=True, axis=1)

In [182]:
df_cleaned = df.dropna(subset=['Country Name'])

In [183]:
df_interpolated = df_cleaned.interpolate()

C:\Users\sergi\AppData\Local\Temp\ipykernel_25392\1862321346.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df_cleaned.interpolate()

In [185]:
columnas_a_eliminar=df_interpolated.columns[4:48] #Both
# columnas_a_eliminar=df_interpolated.columns[-1]
df_interpolated = df_interpolated.drop(columns=columnas_a_eliminar)

In [186]:
# Derretir el DataFrame para convertir las columnas de años en filas
melted_df = pd.melt(df_interpolated, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name='Year', value_name='percentage_gdp_agricul_pesca_silver')

In [131]:
melted_df.to_sql('gdp_agricul_pesca_silver_percent_country',engine, if_exists='replace', index=False)

16

In [188]:
melted_df['Year'] =  melted_df['Year'].astype('int64')

In [197]:
melted_df.to_sql('gdp_agriculture_forestry_fishing_percent_countries',engine, if_exists='replace', index=False)

54

# GPD
---

In [162]:
df = pd.read_csv('data/sdg/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_286490.csv')

In [164]:
df.drop('Unnamed: 68', inplace=True, axis=1)

In [165]:
df_cleaned = df.dropna(subset=['Country Name'])

In [166]:
df_interpolated = df_cleaned.interpolate()

C:\Users\sergi\AppData\Local\Temp\ipykernel_25392\1862321346.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interpolated = df_cleaned.interpolate()

In [169]:
# columnas_a_eliminar=df_interpolated.columns[-1] #Both
columnas_a_eliminar=df_interpolated.columns[4:48] #Both
df_interpolated = df_interpolated.drop(columns=columnas_a_eliminar)

In [171]:
# Derretir el DataFrame para convertir las columnas de años en filas
melted_df = pd.melt(df_interpolated, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name='Year', value_name='gdp_current_price')

In [179]:
melted_df.to_sql('gdp_current_prices_countries',engine, if_exists='replace', index=False)

54

In [176]:
# melted_df.loc[melted_df['Country Name'] == 'Afghanistan']
melted_df['Year'] =  melted_df['Year'].astype('int64')

In [178]:
melted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5054 entries, 0 to 5053
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Name       5054 non-null   object
 1   Country Code       5054 non-null   object
 2   Indicator Name     5054 non-null   object
 3   Indicator Code     5054 non-null   object
 4   Year               5054 non-null   int64
 5   gdp_current_price  5054 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 237.0+ KB